@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

nav {
    padding: 15px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    list-style: none;
    display: flex;
}

.link {
    margin: 0 15px;
}

.link a {
    color: white;
    text-decoration: none;
}

.hamburg {
    display: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.dropdown {
    display: none;
    flex-direction: column;
    background-color: rgb(159, 18, 18);
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
}

.dropdown.show {
    display: flex;
}

.dropdown a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    text-align: center;
}

.main-container {
    display: flex; /* Menggunakan flexbox untuk menempatkan item secara berdampingan */
    align-items: center; /* Menyelaraskan item secara vertikal di tengah */
    max-width: 600px;
    margin: 0 auto; /* Untuk memusatkan konten */
}

.main-container .image {
    flex: 2; /* Mengizinkan gambar untuk mengambil ruang yang sesuai */
}

.main-container .image img {
    width: 100%; /* Memastikan gambar mengisi ruang yang tersedia */
    max-width: 300px; /* Atur lebar maksimum gambar sesuai kebutuhan */
    height: auto; /* Mengatur tinggi otomatis untuk menjaga rasio aspek */
}

.main-container .content {
    display: flex;
    flex: 1; /* Mengizinkan konten untuk mengambil ruang yang lebih besar */
    flex-direction: column;
    padding-left: 10px; /* Memberikan sedikit jarak antara gambar dan konten */
}

.social-links {
    margin: 20px 0;
}

.social-links a {
    color: white;
    margin: 0
}


/* Media Queries untuk Responsif */
@media (max-width: 600px) {
    .links {
        display: none; /* Sembunyikan menu navigasi di bawah 600px */
    }

    .hamburg {
        display: block; /* Tampilkan ikon hamburger */
    }

    .dropdown {
        display: none; /* Pastikan dropdown disembunyikan secara default */
    }
}